* {
  box-sizing: border-box;
}

:root {
  --link-opacity: 0.7;
  --btn-opacity: 0.8;
  --transition: opacity 0.1s linear;
  --transition-menu: right 0.4s linear;
}

.App {
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}