.about-project {
  width: 89%;
  margin: auto;
  padding-top: 11px;
}

.about-project__info-container {
  display: flex;
  padding: 70px 0 112px;
  gap: 40px;
}

.about-project__info {
  margin: 0;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__info-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.about-project__info-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
}

.about-project__timeline {
  width: 100%;
  display: flex;
  padding-bottom: 103px;
}

.about-project__stage {
  display: flex;
  flex-direction: column;
}

.about-project__stage_type_back {
  width: 20%;
}

.about-project__stage_type_front {
  width: 80%;
}

.about-project__stage-text {
  margin: 0;
  padding: 9px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.about-project__stage-text_color_white {
  color: #fff;
  background: #000;
}

.about-project__stage-text_color_grey {
  color: #a0a0a0;
  padding-top: 14px;
}

.about-project__stage-text_color_black {
  background: #f2f2f2;
}

@media screen and (min-width: 1300px) {
  .about-project__info-container {
    justify-content: center;
  }
  .about-project__info {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .about-project {
    width: 87%;
    padding-top: 2px;
  }

  .about-project__info-container {
    padding: 72px 0 94px;
    gap: 30px;
  }

  .about-project__info {
    max-width: 319px;
    gap: 22px;
  }

  .about-project__info-text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__timeline {
    padding-bottom: 84px;
  }
  
  .about-project__stage_type_back {
    width: 21%;
  }
  
  .about-project__stage_type_front {
    width: 79%;
  }
  
  .about-project__stage-text_color_grey {
    padding-top: 15px;
  }
}

@media screen and (max-width: 540px) {
  .about-project__info-container {
    flex-direction: column;
    padding: 60px 0;
    gap: 58px;
  }

  .about-project__info {
    min-width: 284px;
    gap: 17px;
  }

  .about-project__timeline {
    padding-bottom: 60px;
  }

  .about-project__stage_type_back {
    width: 35%;
  }

  .about-project__stage_type_front {
    width: 65%;
  }

  .about-project__stage-text {
    padding: 11px 0;
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  .about-project {
    width: 89%;
  }

  .about-project__info-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: normal;
  }

  .about-project__info-text {
    font-size: 11px;
    line-height: 1.45;
  }
}
